<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>countryName</param-name>
        <param-value>Viet Nam</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>myservlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>myservlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>myservlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountServlet</servlet-name>
        <servlet-class>myservlet.ManageAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>myservlet.SearchServlet</servlet-class>
        <init-param>
            <param-name>language</param-name>
            <param-value>Vietnamese</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>myservlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendOTP</servlet-name>
        <servlet-class>myservlet.sendOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactServlet</servlet-name>
        <servlet-class>myservlet.contactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>myservlet.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>myservlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusOrderServlet</servlet-name>
        <servlet-class>myservlet.ChangeStatusOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountServlet</servlet-name>
        <servlet-class>myservlet.EditAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>myservlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>myservlet.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>myservlet.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCartServlet</servlet-name>
        <servlet-class>myservlet.SaveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterOrderServlet</servlet-name>
        <servlet-class>myservlet.FilterOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusAccountServlet</servlet-name>
        <servlet-class>myservlet.UpdateStatusAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountServlet</servlet-name>
        <servlet-class>myservlet.SearchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderServlet</servlet-name>
        <servlet-class>myservlet.ManageOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePlantServlet</servlet-name>
        <servlet-class>myservlet.ManagePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCategoryServlet</servlet-name>
        <servlet-class>myservlet.ManageCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusOrderServlet</servlet-name>
        <servlet-class>myservlet.UpdateStatusOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderServlet</servlet-name>
        <servlet-class>myservlet.SearchOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusPlantServlet</servlet-name>
        <servlet-class>myservlet.UpdateStatusPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPlantServlet</servlet-name>
        <servlet-class>myservlet.SearchPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCategoryServlet</servlet-name>
        <servlet-class>myservlet.SearchCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetailServlet</servlet-name>
        <servlet-class>myservlet.ViewOrderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountServlet</servlet-name>
        <url-pattern>/ManageAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendOTP</servlet-name>
        <url-pattern>/sendOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactServlet</servlet-name>
        <url-pattern>/contactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusOrderServlet</servlet-name>
        <url-pattern>/ChangeStatusOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountServlet</servlet-name>
        <url-pattern>/EditAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/DeleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCartServlet</servlet-name>
        <url-pattern>/SaveCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterOrderServlet</servlet-name>
        <url-pattern>/FilterOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusAccountServlet</servlet-name>
        <url-pattern>/UpdateStatusAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountServlet</servlet-name>
        <url-pattern>/SearchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderServlet</servlet-name>
        <url-pattern>/ManageOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePlantServlet</servlet-name>
        <url-pattern>/ManagePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCategoryServlet</servlet-name>
        <url-pattern>/ManageCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusOrderServlet</servlet-name>
        <url-pattern>/UpdateStatusOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderServlet</servlet-name>
        <url-pattern>/SearchOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusPlantServlet</servlet-name>
        <url-pattern>/UpdateStatusPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPlantServlet</servlet-name>
        <url-pattern>/SearchPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCategoryServlet</servlet-name>
        <url-pattern>/SearchCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetailServlet</servlet-name>
        <url-pattern>/ViewOrderDetailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
